<a href="/">Hem</a>
<a href="/profile">Min profil</a>
<a href="/library">Biblioteket</a>
<a href="/plants">Mina växter</a>
<a href="/forum">Forum</a>
<a href="/settings">Inställningar</a>
<a href="/logout">Logga ut</a>
<a href="/about">Om oss</a>