<section id="profileNav">
    <div id="options">
        <!-- Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
        <div class="option">
            <div class="icon"><img src="/images/icons/library.png"></div>
            <div class="link"><a href="/library">Bibliotek</a></div>
            <div class="arrow"><img src="/images/icons/right.png"></div>
        </div>

        <div class="option">
            <div class="icon">
                {{#if nots}}<div id="cirkle"><p>{{nots}}</p></div>{{/if}}
                <img src="/images/icons/mylist.png" id="notification">
            </div>
            <div class="link"><a href="/plants">Mina växter</a></div>
            <div class="arrow"><img src="/images/icons/right.png"></div>
        </div>

        <div class="option">
            <div class="icon"><img src="/images/icons/forum.png"></div>
            <div class="link"><a href="/forum">Forum</a></div>
            <div class="arrow"><img src="/images/icons/right.png"></div>
        </div>

        <div class="option">
            <div class="icon"><img src="/images/icons/network.png"></div>
            <div class="link"><a href="/settings">Inställningar</a></div>
            <div class="arrow"><img src="/images/icons/right.png"></div>
        </div>
    </div>
</section>