<section class="image">
    <img src="/images/placeholder.png">
</section>
<section class="text">
    <h1>Om Växtverket</h1>
    <p>Vad kul att du har hittat hit till Växtverket. Vi är ett företag som hjälper den växtintresserade med odling genom samtliga säsonger. Det kan vara svårt att veta när det är dags att börja förkultivera dina växter och grönsaker, då varje växt är unik. Även din växtzon påverkar när du kan börja odla. Genom att skapa ett konto hos oss slipper du att leta runt i olika medier för att hitta information. Vi har användar -och säsongsanpassad information för ett stort antal växter.</p>
</section>
