<header id="pageHeader">
    <div id="layer">
        <img src="/images/logo.png" alt="Logotyp">
    </div>
</header>
<section class="text">
    <h1>Sommar med Växtverket</h1>
    <p>Välkommen till Växtverket. Här hjälper vi dig med att odla dina favoritväxter. Det kan vara svårt att veta när och hur saker och ting skall göras. Lugn, vi hjälper dig. Registrera ett konto hos oss, sen fixar vi resten.</p>
</section>
