<section class="text">
    <h1>Logga in på Växtverket</h1>
    <p>Vad härligt att du också har växtverk. Logga in på ditt personliga konto genom att fylla i nedanstående formulär. Lycka till med din odling.</p>
</section>

<section class="form">
    <form action="" method="POST">
        <input type="text" name="username" placeholder="Ange användarnamn">
        <input type="password" name="password" placeholder="Ange lösenord">
        <input type="submit" value="Logga in">
    </form>
</section>