<section class="text">
    <h1>Registrera dig här</h1>
    <p>Vad kul att du har hittat hit. Vi kommer att hjälpa dig att odla genom samtliga säsonger. Genom ditt konto får du tillgång till ett stort antal växter, där du kan välja dem du är intresserade av. Lycka till med din odling.</p>
</section>

<section class="form">
    <form action="" method="POST">
        <input type="text" name="username" placeholder="Ange önskat användarnamn">
        <input type="password" name="password" placeholder="Ange lösenord">
        <input type="password" name="password" placeholder="Ange lösenord igen">
        <input type="submit" value="Registrera">
    </form>
</section>